/* Imports*/
@import url("./yui-reset-3.1.1-min.css");
@import url("./generic.css");

#scrollto-demo a {
	cursor:pointer;
	color:blue;
	display:block;
	margin-bottom:5px;
}

#scrollto-demo a:hover {
	text-decoration:underline;
}

#scrollto-group {
	width: 500px;
	height:200px;
	overflow:scroll;
	border:5px ridge white;
}

#scrollto-group div {
	width: 90%;
	height: 300px;
	padding: 15px 4%;
}